

#principal img{
margin-left: 30px;
}





#sobre img{
  width: 80%;
  height: 80%;
}

.sobreimg2{ 
  width: 58%;
  height: 58%;
  margin-left: 23px;
}
















@media (max-width: 600px){
 


section{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}
p{
  text-align: justify;
width: 88%;
}
#sobre p{
  width: 84%;
  margin-left:-26px;
  
}
.sobreimg2{ 
  width: 80%;
  height: 80%;
  margin-left: 23px;
}

#principal h1{
  width: 400px;
}

#principal h1,h3{
  width: 340px;
    margin-left: -15px;
}
#sobre p{
  width: 340px;
  margin-left: -50px;
}

}