

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lobster&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lobster&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color:#F8F6F0;
  color: #333333;
}

header {
  background-color:#F8F6F0;
  /*color: #800020;*/
  color:#3972ed;
  padding: 1rem;
  

}

nav ul {
  
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav a {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  font-family: 'Dancing Script';
  font-weight: 600;
  font-size: 1.5em;
}

nav a:hover{
color:#800020 ;
text-decoration: underline;
}

#lado_logo{
  display: flex;
  flex-direction: row;
  
}
#lado_logo p{
  width: 200px;
  font-family: 'Merriweather';
  font-size: 1.1em;
  line-height: 1.5em;
  color :#333333;
  margin-left: -30px;
  margin-top: 10px;
}
#lado_logo a{
  font-family: 'Merriweather';
  font-size: 1.1em;
  line-height: 1.5em;
  color:#4A90E2;
  text-decoration: dotted;
}

#logo_nome{
  font-family: 'Dancing Script';
  font-weight: 600;
  font-size: 4.5em;
 text-align: center;
 }
 #nome_paroquia{
  font-family: 'Dancing Script';
  font-weight: 300;
  font-size: 2.5em;
 text-align: center;
 margin-top: -50px;
 
}
.logo{
  width:70px;
  border-radius: 100%;
}
#apresentação{
  display: flex;
  justify-content: space-around;
}
 #apresentação h2{
  margin-left: 30px;
 }
#p_apresentação {
  flex: 1;
  align-self: center;
}
#p_apresentação p{
   color:#800020 ;
  font-family: 'Dancing Script';
  font-weight: 600;
  font-size: 2.0em;
  padding-right:50px;
  text-align: justify;
  
}

section {
  width: 70%;
  background-color: #f8f6f0;
  color: #333333;
  padding: 2rem;
  text-align: justify;
  
}
.img_Igreja{
  border-radius: 8px;
  box-shadow: 2px 2px 2px #333333;
}
#secaoinformativa{
  
}
#secaoinformativa img{
  margin-left: 30px; 
  border-radius: 5px;
 }

.encontros{
  text-align: center;
  margin: 30px;
}

#flex3colunas{
  display: flex;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background: #ffffff;
  border-radius: 9px;

}
#flex3colunas > div{
  flex:1;
  padding: 20px;
 
}


p{
  font-family: 'Merriweather';
  font-size: 1.1em;
  line-height: 1.5em;
}
span{
  color: #333333;
}
h2{
  font-size: 1.5em;
}
h4{
  font-size: 1.1em;
}

section a {
  text-decoration: none;
  color: #4A90E2;
}
section a:hover {

text-decoration: underline;
}
#maisFotos{
  margin: auto;
  background: #ffffff;
  display: flex;
  flex-wrap:wrap ;
  justify-content: center;
 border-radius: 9px;
}
#maisFotos img{
  border-radius: 5px;
box-shadow: 1px 1px 3px #333333;
margin-bottom: 10px;
margin-right: 10px;
  width: 450px;
  


}


footer {
  background-color: #333333;
  color: #F8F6F0;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}


@media (max-width: 600px){
  #apresentação  {
 flex-direction: column;
  
}

#p_apresentação {
  margin: auto;
  padding-left: 50px;
}
section{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}
p{
  text-align: justify;

}
}

@media(max-width:1400px){
 #apresentação{ 
  display: flex;
  flex-direction: column;
 } 

 #apresentação p{
  padding-left: 32px;
 }
}






/*hambuguer menu */      

.menu {

  padding: 10px;
  
  position: relative;
}

.hamburguer {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-top: -80px;
  margin-left: 30px;
  padding: 20px;
}



/* Responsivo */
@media (max-width: 600px) {
  .hamburguer {
    display: block;
  }

  .links {
    display: none;
    flex-direction: column;
    
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }

  .links.show {
    display: flex;
  }
  #section-slide{
    
    width: 510px;
  }
  #p_apresentação{
    width: 450px;
    margin-left: -60px;
  }
  #maisFotos img{
    width: 350px;
margin-left: -20px;

}
#secaoinformativa{
  width: 340px;
  margin-left: 20px;
}  
 }

 /* fim hambuguer menu */ 